<div class="login d-flex align-items-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-5 mx-auto">
        <h3 class="login-heading mb-4">Edit <%= resource_name.to_s.humanize %></h3>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              
              <div class="form-label-group">
                <%= f.label :name, :for => "inputEmail" %>
                <%= f.text_field :name, :id => "inputEmail", :class => "form-control", :placeholder => "User Name" %>
              </div>
              
              <div class="form-label-group">
                <%= f.label :email, :for => "inputEmail" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :id => "inputEmail", :class => "form-control", :placeholder => "Email address" %>
              </div>
            
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            
              <div class="form-label-group">
                <%= f.label :password, :for => "inputPassword" %><i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", :id => "inputPassword", :class => "form-control" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>
            
              <div class="form-label-group">
                <%= f.label :password_confirmation, :for => "inputPassword" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", :id => "inputPassword", :class => "form-control" %>
              </div>
            
              <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", :id => "inputPassword", :class => "form-control" %>
              </div>
              <div class="form-label-group">
                <%= f.label :avatar, :for => "inputPassword" %><br>
                <%= f.file_field :avatar %>
              </div><br/>
                <%= f.submit "Update", :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
            <% end %>
            
              <h2>Cancel my account</h3>
            
                <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %></p>
              <%= link_to "Back", :back, :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
      </div>
    </div>
  </div>
</div>
