<div class="login d-flex align-items-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mx-auto">
        <h3 class="login-heading mb-4">Welcome !</h3>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-group'}) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>
          
            <div class="form-label-group">
              <%= f.label :email, :for => "inputEmail" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :id => "inputEmail", :class => "form-control", :placeholder => "Email address" %>
            </div>
          
            <div class="form-label-group">
              <%= f.label :password, :for => "inputPassword" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", :id => "inputPassword", :class => "form-control" %>
            </div>
            <div class="form-label-group">
              <%= f.label :password_confirmation, :for => "inputPassword" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :id => "inputPassword", :class => "form-control" %>
            </div>
            <div class="form-label-group">
              <%= f.label :avatar, :for => "inputPassword" %><br>
              <%= f.file_field :avatar %>
            </div><br/>
            <%= f.submit "Sign up", :class => "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
          <% end %>
          <div class="text-center">
          <%= render "devise/shared/links" %></div>
      </div>
    </div>
  </div>
</div>

