<li id="article-<%= article.id %>">
    <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar , style:'width: 30px; height: 30px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;'%>
    <% end %>
    <span class="user"><%= article.user.email %></span>
    <span class="content">
        <%= article.content %>
        <div class="scroller">
            <% if article.images.attached? %>
            <% article.images.each do |image| %>
                <div>
                    <%= image_tag image, style:'width: 640px; height: 400px;' %>
                </div>
            <% end %>
        <% end %>
        </div>
        
    </span>
    <span class="timestamp">
    Posted <%= time_ago_in_words(article.created_at) %> ago.
    <% if current_user.id == article.user.id %>
        <%= link_to "delete", article, method: :delete,data: { confirm: "You sure?" } %>
    <% end %>
    </span>
</li>